## Flox Environment Manifest -----------------------------------------
##
##   _Everything_ you need to know about the _manifest_ is here:
##
##               https://flox.dev/docs/concepts/manifest
##
## -------------------------------------------------------------------
# Flox manifest version managed by Flox CLI
version = 1


## Install Packages --------------------------------------------------
##  $ flox install gum  <- puts a package in [install] section below
##  $ flox search gum   <- search for a package
##  $ flox show gum     <- show all versions of a package
## -------------------------------------------------------------------
[install]

# Shell tools
direnv.pkg-path = "direnv"
direnv.pkg-group = "shell-tools"
eza.pkg-path = "eza"
eza.pkg-group = "shell-tools"
gum.pkg-path = "gum"
gum.pkg-group = "shell-tools"
starship.pkg-path = "starship"
starship.pkg-group = "starship"
sheldon.pkg-path = "sheldon"
sheldon.pkg-group = "shell-tools"
tree.pkg-path = "tree"
tree.pkg-group = "shell-tools"

# Build tools (each under own pkg-group)
go.pkg-path = "go"
go.pkg-group = "go"
nodejs.pkg-path = "nodejs"
nodejs.pkg-group = "nodejs"

# Go/K8s Tools
argocd.pkg-path = "argocd"
argocd.pkg-group = "go-tools"
hugo.pkg-path = "hugo"
hugo.pkg-group = "go-tools"
k6.pkg-path = "k6"
k6.pkg-group = "go-tools"
kind.pkg-path = "kind"
kind.pkg-group = "go-tools"
kubebuilder.pkg-path = "kubebuilder"
kubebuilder.pkg-group = "go-tools"
kubectl.pkg-path = "kubectl"
kubectl.pkg-group = "go-tools"
kubernetes-helm.pkg-path = "kubernetes-helm"
kubernetes-helm.pkg-group = "go-tools"
talosctl.pkg-path = "talosctl"
talosctl.pkg-group = "go-tools"


# Other development tools
gh.pkg-path = "gh"
gh.pkg-group = "dev-tools"
github-copilot-cli.pkg-path = "github-copilot-cli"
github-copilot-cli.pkg-group = "dev-tools"
heroku.pkg-path = "heroku"
heroku.pkg-group = "dev-tools"
ngrok.pkg-path = "ngrok"
ngrok.pkg-group = "dev-tools"
pre-commit.pkg-path = "pre-commit"
pre-commit.pkg-group = "dev-tools"

## Environment Variables ---------------------------------------------
##  ... available for use in the activated environment
##      as well as [hook], [profile] scripts and [services] below.
## -------------------------------------------------------------------
[vars]
# INTRO_MESSAGE = "It's gettin' Flox in here"


## Activation Hook ---------------------------------------------------
##  ... run by _bash_ shell when you run 'flox activate'.
## -------------------------------------------------------------------
[hook]
# on-activate = '''
#   # -> Set variables, create files and directories
#   # -> Perform initialization steps, e.g. create a python venv
#   # -> Useful environment variables:
#   #      - FLOX_ENV_PROJECT=/home/user/example
#   #      - FLOX_ENV=/home/user/example/.flox/run
#   #      - FLOX_ENV_CACHE=/home/user/example/.flox/cache
# '''


## Profile script ----------------------------------------------------
## ... sourced by _your shell_ when you run 'flox activate'.
## -------------------------------------------------------------------
[profile]
# common = '''
#   gum style \
#   --foreground 212 --border-foreground 212 --border double \
#   --align center --width 50 --margin "1 2" --padding "2 4" \
#     $INTRO_MESSAGE
# '''
## Shell specific profiles go here:
# bash = ...
# zsh  = ...
# fish = ...


## Services ----------------------------------------------------------
##  $ flox services start             <- Starts all services
##  $ flox services status            <- Status of running services
##  $ flox activate --start-services  <- Activates & starts all
## -------------------------------------------------------------------
[services]
# myservice.command = "python3 -m http.server"


## Include ----------------------------------------------------------
## ... environments to create a composed environment
## ------------------------------------------------------------------
[include]
# environments = [
#     { dir = "../common" }
# ]


## Other Environment Options -----------------------------------------
[options]
# Systems that environment is compatible with
systems = [
  "aarch64-darwin",
  "aarch64-linux",
  "x86_64-darwin",
  "x86_64-linux",
]
# Uncomment to disable CUDA detection.
# cuda-detection = false

[options.activate]
mode = "run"
